.header {
    align-items: center;

    .logo {
        width: 50px;
    }

    .btn {
        border: 0;
        background-color: grey;
        cursor: pointer;
    }

    .title {
        margin: 0;
        font-size: 1.2rem;
    }
}

